{$SPACEPIRATES_DOMAIN} {
    root * /srv/spacepirates
    file_server
    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @ws server:2567
    reverse_proxy /colyseus server:2567
    reverse_proxy /api/* server:2567
    reverse_proxy /.well-known/* server:2567
    reverse_proxy /openapi.yaml server:2567
}

